<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AllowNetworkAccess</key>
    <true/>
	<key>CFBundleDisplayName</key>
	<string>Mpetre</string>
	<key>CFBundleIdentifier</key>
	<string>no.soiland.widget.mpetre</string>
	<key>CFBundleName</key>
	<string>Mpetre</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CloseBoxInsetX</key>
	<integer>16</integer>
	<key>CloseBoxInsetY</key>
	<integer>17</integer>
	<key>MainHTML</key>
	<string>Mpetre.html</string>
</dict>
</plist>
